<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bb.hoppingbird"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        
        <activity
            android:name="bb.hoppingbird.MainActivity"
            android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Ads Using Google Play Services SDK -->
        <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk tools:overrideLibrary="com.google.android.gms.play_services, com.google.android.gms.ads.impl, com.google.android.gms.ads, com.google.android.gms, android.support.v4,
        android.support.compat, android.support.mediacompat, android.support.coreutils, android.support.coreui, android.support.fragment, com.google.android.gms.base,
        com.google.android.gms.tasks, com.google.android.gms.clearcut, com.google.android.gms.gass, com.google.android.gms.safetynet, com.google.android.gms.analytics,
        com.google.android.gms.tagmanager, com.google.android.gms.appinvite, com.google.firebase.dynamiclinks, com.google.firebase, com.google.android.gms.auth.api,
        com.google.android.gms.auth, com.google.android.gms.cast.framework, com.google.android.gms.cast, android.support.v7.mediarouter, android.support.v7.appcompat,
        android.support.graphics.drawable, android.support.v7.palette, com.google.firebase.remoteconfig, com.google.firebase.iid, com.google.android.gms.contextmanager,
        com.google.android.gms.location, com.google.android.gms.maps, com.google.firebase.crash, com.google.android.gms.measurement, com.google.android.gms.measurement.impl,
        com.google.android.gms.drive, com.google.firebase.auth.api, com.google.firebase.database.connection, com.google.firebase.database, com.google.firebase.messaging,
        com.google.firebase.storage, com.google.android.gms.fitness, com.google.android.gms.games, com.google.android.gms.gcm, com.google.android.gms.iid, com.google.android.gms.appindexing,
        com.google.android.gms.identity, com.google.android.gms.instantapps, com.google.android.gms.nearby, com.google.android.gms.panorama, com.google.android.gms.plus,
        com.google.android.gms.tagmanager.impl, com.google.android.gms.vision, com.google.android.gms.wallet, com.google.android.gms.wearable"/>

</manifest>
